
/**
 * The text could use some tweaks. Let's use css to style it
 */

 .md {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color:rgb(255, 255, 255)
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  display: inline;
  color: #e53f3f;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  gap:10px

}

 h1{
  list-style:none;
  font-size:3em;
  letter-spacing:8px;
  text-shadow:none;
  animation: animation 20s ease-in-out 10 alternate;
  animation: animation 20s ease-in-out 10 alternate;
  -webkit-animation: animation 20s ease-in-out 10 alternate;
}

.burn {
  animation: animation 20s  ease-in-out 10 alternate;
  animation: animatio  20s ease-in-out 10 alternate;
  -webkit-animation: animatio  20s ease-in-out 10 alternate;
}
@keyframes animation{
0%{
  text-shadow: 
    0 0 20px #fefcc9,
    0 0 30px #fefcc9,
    0 0 40px #feec85,
    0 0 50px #ffae34,
    0 0 60px #ec760c,
    0 0 70px #cd4606,
    0 0 80px #973716,
    0 0 90px #451b0e;
  color: #ff4500;
}

}
  
li:hover{
color:red;
font-size:1vw}

code:hover{
font-size:1rem;
color:red;
}
/**
 * That's better.
 * Scroll down to flip between the plain text and the rendered version.
 * This next part is a portfolio site. Where you can see some of my work
 * and view my projects and resume. The site is built using Astro.
 * Its added by embedding an iframe into a workbox.
 * 
 */

